@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*--------------------*/
.tplborder_by_class, .link-2 {
  font-size: 100px;
  border-bottom: 5px dashed violet;
}
.tplborder_by_class:hover, .link-2:hover {
  border-bottom: 5px dashed #00ff22;
}

.block {
  width: 31.25%;
  padding: 30px;
  line-height: 60px;
  font-size: 100px;
  color: violet;
  background: #666;
}
.block .block__text {
  font-size: 100px;
}
.block .block__text span {
  color: green;
  font-size: 100px;
}
.block .block__text span:hover {
  color: violet;
}
.block.block--big {
  font-size: 100px;
}
.block a:hover {
  color: yellow;
}

.link {
  text-decoration: underline;
  margin-left: 30px;
  font-size: 50px;
  color: blue;
}
.link::before {
  content: "";
}
.link::after {
  content: "";
}
.link-2 {
  font-size: 50px;
  color: green;
}